
    {%for user in usersData%}
            <tr data-id="{{ user['user_id'] }}">
                <td>
                    <input type="checkbox" value="{{ user['user_id'] }}" class="d-none">
                </td>
                <td scope="row" class="text-center">
                    {{ user['user_pos'] }}
                </td>
                <td>
                    <a href="javascript:void(0);" data-object="user_fullName" data-action="rename"class="edit d-none btn">
                    	<img src="{{ SITE_DIR }}/css/img/edit.png" alt="change this fullname" title="change this fullname" width="25px">
                    </a>
                    <span>{{ user['user_fullName'] }}</span>
                </td>
                <td>
                    <a href="javascript:void(0);" data-object="user_email" data-action="rename" class="edit d-none btn">
                    	<img src="{{ SITE_DIR }}/css/img/edit.png" alt="change this email" title="change this email" width="25px">
                    </a>
                    <span>{{ user['user_email'] }}</span>
                </td>
                <td>
                    <a href="javascript:void(0);" data-object="user_adress" data-action="rename" class="edit d-none btn">
                    	<img src="{{ SITE_DIR }}/css/img/edit.png" alt="change this adress" title="change this adress" width="25px">
                    </a>
                    <span>{{ user['user_adress'] }}</span>
                </td>
            </tr>
    {%endfor%}


